beautifulsoup4
chromadb
faiss-cpu
google-cloud-aiplatform
google-cloud-discoveryengine
graphviz
langchain
langchain-community
langchain-google-vertexai
langchain-openai
lxml
matplotlib
neo4j
networkx
numpy
openai
pandas
Pillow
plotly
pyvis
python-dotenv
pydot
requests
seaborn
sentence-transformers
streamlit
tiktoken

